@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Navbar {
  display: flex;
  color: white;
}
.brand {
  margin: 2rem;
}
.navLinks {
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: #debf79;
  margin: 3rem;
}

@media screen and (max-width: 868px) {
  .brand {
    margin-right: 1rem;
  }
  .Navbar {
    width: 90%;
  }
  .navLinks {
    font-size: 1rem;
  }
  .image {
    width: 200px;
  }
}
